.profile {
  padding-top: 20px;
}

.profile__view {
  position: relative;
}

.profile__background {
  width: 100%;
  height: 300px;
}

.profile__background img {
  width: 100%;
  height: 100%;
}

.profile__avatar {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 220px;
  max-height: 220px;
}

.profile__avatar .avatar-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #323232;
}

.profile__upload-image {
  position: absolute;
  z-index: 10;
  bottom: 45px;
  right: 3px;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__upload-image label {
  width: 24px;
  height: 24px;
  display: block;
}
.profile__upload-image #avatar {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.profile__name {
  position: absolute;
  left: 50%;
  bottom: -120px;
  transform: translateX(-50%);
}

.profile__name h2 {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
}
.profile__information {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}