.pagination {
  margin: 30px 0;
}

.pagination span {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ffffff;
  font-family: "Droid Sans Mono" sans-serif;
  margin: 0px 10px
}

.pagination span.active {
  background: #ffffff;
  color: #000;
}